<div class="container request-content">
  <div class="row">
    <h1 class="request-title <%=@help_request.state %>"><%= @help_request.title %></h1>
    <h2 class="request-author">Autor: <%= @help_request.author.full_name %></h2>
    <p class="request-description">Opis: <%= @help_request.description %></p>
  </div>
  <div class="row request-button">
    <% if user_signed_in? %>
      <% if is_active_request? && 
          current_user != @help_request.author %> 
      <%= link_to 'Pomagam', follow_help_request_path(@help_request), class:"btn btn-success edit-btn" %>
    <% end %>
    <% if is_user_request? %>
      <% if is_active_request? %> 
        <%= link_to 'Zakończ', complete_help_request_path(@help_request), class: "btn btn-primary edit-btn" %>
      <% end %>  
      <% if is_draft_request? %>
        <%= link_to 'Aktywuj', activate_help_request_path(@help_request),  class: "btn btn-primary edit-btn" %>
      <% end %>
      <% if @help_request.state != 'completed' %>
        <%= link_to 'Edytuj', edit_help_request_path(@help_request), class: "btn btn-primary edit-btn" %>
      <% end %>
      <% if is_active_request? %>
        <%= link_to 'Wycofaj', cancel_help_request_path(@help_request), class: "btn btn-danger edit-btn" %>
      <% end %>
    <% end %>
    <% end %>
  </div>
</div>
