  <header class="navbar">
    <div class="container">
      <div class="navbar-header">
          <%= link_to image_tag('logo/logo.png', alt: 'Logo', class: 'header-logo'), root_path, id: 'logo', class: 'navbar-brand' %>
        </div>
        <nav class="nav navbar-nav navbar-right">
          <li class="<%= "active" if current_page?(root_path)%>">
            <%= link_to 'Prośby o pomoc', root_path, class: 'btn btn-default'%>
          </li>
          <li class="<%= "active" if current_page?(new_user_session_path) %>">
            <%= link_to "Logowanie", new_user_session_path, class: 'btn btn-default' %>
          </li>
          <li>
              <%= link_to 'Rejestracja', new_user_registration_path, class: 'btn btn-primary sign-in' %>
          </li>
        </nav>
    </div>
  </header>
