  <header class="navbar">
    <div class="container">
      <div class="navbar-header">
          <%= link_to image_tag('logo/logo.png', alt: 'Logo', class: 'header-logo'), root_path, id: 'logo', class: 'navbar-brand' %>
        </div>
        <nav class="nav navbar-nav navbar-right">
          <li class="<%= "active" if current_page?(root_path)%>">
            <%= link_to 'Prośby o pomoc', root_path, class: 'btn btn-default'%>
          </li>
          <% unless user_signed_in? %> 
          <li class="<%= "active" if current_page?(new_user_session_path) %>">
            <%= link_to "Logowanie", new_user_session_path, class: 'btn btn-default' %>
          </li>
          <li>
              <%= link_to 'Rejestracja', new_user_registration_path, class: 'btn btn-primary sign-in' %>
          </li>
        <% end %>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button">
                <%= current_user.first_name %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Edytuj dane', edit_user_registration_path %></li>
                <li><%= link_to 'Wyloguj się', destroy_user_session_path, method: :delete %></li>
              </ul>
          </li>
          <% end %>
        </nav>
    </div>
  </header>
