  <header class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <%= link_to image_tag('logo/logo.png', alt: 'Logo', class: 'header-logo'), root_path, id: 'logo', class: 'navbar-brand' %>
        </div>
        <nav class="nav navbar-nav navbar-right">
          <li class="<%= "active" if current_page?(root_path)%>"><button class="btn btn-default"><%= link_to "Strona główna",  root_path %></button></li>
          <li class="<%= "active" if current_page?("#") %>"><%= link_to "Zaloguj", "#" %></li>
          <li><button class="btn btn-primary sign-in"><%= link_to "Zarejestruj", "#" %></button></li>
        </nav>
    </div>
  </header>
